# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea
*.log
cmake-build-debug
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
.Rproj.user
.RData
.Rhistory

bisam-v2/mombf_3.5.4
*/cmake-build-*